<table class="tx-solr-boutique" >
	<tr>
		<td>
			<f:translate key="tx_solrboutique_domain_model_solrboutiqueproduct.title" />
		</td>
		<td>
			{solrBoutiqueProduct.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrboutique_domain_model_solrboutiqueproduct.description" />
		</td>
		<td>
			{solrBoutiqueProduct.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrboutique_domain_model_solrboutiqueproduct.manufacturer" />
		</td>
		<td>
			{solrBoutiqueProduct.manufacturer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrboutique_domain_model_solrboutiqueproduct.keywords" />
		</td>
		<td>
			{solrBoutiqueProduct.keywords}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrboutique_domain_model_solrboutiqueproduct.color" />
		</td>
		<td>
			{solrBoutiqueProduct.color}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrboutique_domain_model_solrboutiqueproduct.price" />
		</td>
		<td>
			{solrBoutiqueProduct.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrboutique_domain_model_solrboutiqueproduct.image" />
		</td>
		<td>
			{solrBoutiqueProduct.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrboutique_domain_model_solrboutiqueproduct.size" />
		</td>
		<td>
			{solrBoutiqueProduct.size}
		</td>
	</tr>
</table>